body {
    background-color: lightblue;
}

h1 {
    color: darkmagenta;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: darkmagenta;
    text-align: center;
    font-family: cursive;
}
p {
    text-align: center;
}
img {
    border-radius: 8px;
    border: 3px solid rgb(48, 48, 48);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
h3 {
    color: black;
    text-align: center;
    font-family: fantasy;
}

cursor {
    cursor: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5985b275ba211468c89e8e189913ff39bc8d9529
